<div class="inforow">
    <ul class="inline-list payment-icons">
      <li>{{ 'icon-paypal.png' | asset_url | img_tag }}</li> 
      <li>{{ 'icon-visa.png' | asset_url | img_tag }}</li>  
      <li>{{ 'icon-mastercard.png' | asset_url | img_tag }}</li>  
      <li>{{ 'icon-american-express.png' | asset_url | img_tag }}</li> 
  </ul>
</div>

<div class="inforow">
    <ul class="inline-list rounded-icons">
      <li><a href="https://www.bbb.org/ca/bc/burnaby/profile/emergency-disaster-preparedness/72-hours-0037-1267943" target="_blank">{{ 'bbb-icon.png' | asset_url | img_tag }} <div class="carticoncaption">BBB<br/>A+ Rated</div> </a></li>
      <li>{{ 'payments-icon.png' | asset_url | img_tag }} <div class="carticoncaption">Secure<br/>Checkout</div>  </li>
      <li>{{ 'canada-icon-lg.png' | asset_url | img_tag }} <div class="carticoncaption">No Duties<br/>Ever!</div> </li>
  </ul>
</div>
<br/><br/>
<div class="inforow ">
  <p>Need help? Give Us A Call!</p>
  <p>1-800-964-8699</p>
</div>