<div class="bmg_footer">
    <div class="bmgf_top_outer">
        <div class="container">
            <div class="row bmgf_top">
                <div class="col-md-2 logo_footer_col">
                    <a href="/">
                        <img class="logo_footer" src="{{ section.settings.logo | img_url: 'master'}}">
                    </a>
                </div>
                <div class="col-md-2 footer_contents">
                    <h3>{{ section.settings.footer_heading_1 }}</h3>
                    <ul>
                        {% for block in section.blocks %}
                            <li>
                                <a href="{{ block.settings.footer_1_url }}" {% unless block.settings.footer_1_icon %} class="without_footer_icon" {% endunless %}>
                                    {% if  block.settings.footer_1_icon %}
                                        <img src="{{ block.settings.footer_1_icon | img_url: 'master'}}">
                                    {% endif %}
                                    {{ block.settings.footer_1_text }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-2 footer_navs">
                    <h3>{{ section.settings.footer_heading_2 }}</h3>
                    {% for link in linklists[section.settings.footer_2_links].links %}
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    {% endfor %}
                </div>
                <div class="col-md-2 footer_navs">
                    <h3>{{ section.settings.footer_heading_3 }}</h3>
                    {% for link in linklists[section.settings.footer_3_links].links %}
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    {% endfor %}
                </div>
                <div class="col-md-2 footer_navs">
                    <h3>{{ section.settings.footer_heading_4 }}</h3>
                    {% for link in linklists[section.settings.footer_4_links].links %}
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="bmgf_bot">
        <div class="container">
            <div class="row bmgf_copyright">
                <div class="col-md-6">
                    <ul>
                        <li>{{ section.settings.copyright_footer_text }}</li>
                        {% for link in linklists[section.settings.copyright_footer_links].links %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li> {% if forloop.last != true %}|{% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="{{ section.settings.copyright_footer_payments | img_url: 'master'}}">
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "BMG Footer",
    "settings": [
        {
            "type": "header",
            "content": "Top Footer Settings"
        },      
        {
            "type": "image_picker",
            "id": "logo",
            "label": "BMG Logo Footer"
        },
        {
            "type": "text",
            "id": "footer_heading_1",
            "label": "Footer Heading 1"
        },
        {
            "type": "text",
            "id": "footer_heading_2",
            "label": "Footer Heading 2"
        },
        {
            "type": "link_list",
            "id": "footer_2_links",
            "label": " Footer 2 Links"
        },
        {
            "type": "text",
            "id": "footer_heading_3",
            "label": "Footer Heading 3"
        },
        {
            "type": "link_list",
            "id": "footer_3_links",
            "label": " Footer 3 Links"
        },
        {
            "type": "text",
            "id": "footer_heading_4",
            "label": "Footer Heading 4"
        },
        {
            "type": "link_list",
            "id": "footer_4_links",
            "label": " Footer 4 Links"
        },
        {
            "type": "header",
            "content": "Copyright Footer Settings"
        },
        {
            "type": "text",
            "id": "copyright_footer_text",
            "label": "Copyright Footer Text"
        },
        {
            "type": "link_list",
            "id": "copyright_footer_links",
            "label": "Copyright Footer Links"
        },
        {
            "type": "image_picker",
            "id": "copyright_footer_payments",
            "label": "Copyright Footer Payments"
        }          
    ], 
    "blocks": [
        {
            "name": "Footer 1 Content",
            "type": "footer1",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "footer_1_icon",
                    "label": "Footer 1 Icon"
                },
                {
                    "type": "text",
                    "id": "footer_1_text",
                    "label": "Footer 1 Text"
                },
                {
                    "type": "url",
                    "id": "footer_1_url",
                    "label": "Footer 1 URL" 
                }                       
            ]
        }
    ],
    "presets": [
      {
        "name": "BMG Footer",
        "category": "2021 - BMG"
      } 
    ]
  }
{% endschema %}