<div class="bmg_header">
    <div class="container">
        <div class="row bmg_h_top">
            <div class="col-md-6 bmgh_top_col">
                {% for block in section.blocks %}
                    {% if block.type == 'tnl_links' %}
                        <a href="{{ section.settings.topnavright_link_url }}" {% if section.settings.topnavleft_link_icon %}class="bgm_h_icon"{% endif %}>
                            {% if section.settings.topnavleft_link_icon %}<img src="{{ section.settings.topnavleft_link_icon | img_url: 'master'}}">{% endif %}
                            {{ section.settings.topnavleft_link_text }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-6 bmgh_top_col">
                {% for block in section.blocks %}
                    {% if block.type == 'tnr_links' %}
                        <a href="{{ section.settings.topnavleft_link_url }}" {% if section.settings.topnavright_link_icon %}class="bgm_h_icon"{% endif %}>
                            {% if section.settings.topnavright_link_icon %}<img src="{{ section.settings.topnavright_link_icon | img_url: 'master'}}">{% endif %}
                            {{ section.settings.topnavright_link_text }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row bmg_h_main">
            <div class="col-md-8 bmgh_m_logo_search">
                <a href="/"> 
                    <img src="{{ section.settings.logo | img_url: 'master' }}">
                </a>
                <div class="bmgh_search_form">
                    {% include 'search-bar'  %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="bmgh_m_icons">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="">
                                Reorder
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="">
                                Order by Item No.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="">
                                Cart
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row bmg_h_nav">
            <div class="col-md-12 bmgh_nav">
                {% for link in linklists[section.settings.header_menu].links %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "BMG Header",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "BMG Logo"
        },
        {
            "type": "link_list",
            "id": "header_menu",
            "label": "Header Menu"
        }
    ], 
    "blocks": [
        {
            "name": "Top Nav Left Links",
            "type": "tnl_links",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "topnavleft_link_icon",
                    "label": "Top Nav Left Link Icon"
                },
                {
                    "type": "text",
                    "id": "topnavleft_link_text",
                    "label": "Top Nav Left Link Text"
                },
                {
                    "type": "url",
                    "id": "topnavleft_link_url",
                    "label": "Top Nav Left Link URL"
                }                  
            ]
        },
        {
            "name": "Top Nav Right Links",
            "type": "tnr_links",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "topnavright_link_icon",
                    "label": "Top Nav Right Link Icon"
                },
                {
                    "type": "text",
                    "id": "topnavright_link_text",
                    "label": "Top Nav Right Link Text"
                },
                {
                    "type": "url",
                    "id": "topnavright_link_url",
                    "label": "Top Nav Right Link URL"
                }                   
            ]
        },
        {
            "name": "Header Icons",
            "type": "icons",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "header_icons",
                    "label": "Header Icon"
                },
                {
                    "type": "text",
                    "id": "header_icon_text",
                    "label": "Header Icon Text"
                }                  
            ]
        }
    ],
    "presets": [
      {
        "name": "BMG Header",
        "category": "2021 - BMG"
      } 
    ]
  }
{% endschema %}