<div class="bmg_customized">
    <div class="container">
        <div class="bmgc_outerbody">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ section.settings.bmg_customized_heading }}</h2>
                    <p>{{ section.settings.bmg_customized_text }}</p>
                </div>
            </div>
            <div class="row">
                {% for block in section.blocks %}
                    <div class="col-md-3">
                        <div class="bmgcust_body">
                            <a href="{{ block.settings.customized_url }}">
                                <h3>{{ block.settings.customized_text }}</h3>
                                <img src="{{ block.settings.customized_image | img_url: 'master' }}"> 
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "BMG Customized",
    "settings": [
        {
            "type": "text",
            "id": "bmg_customized_heading",
            "label": "BMG Customized Heading"
        },
        {
            "type": "text",
            "id": "bmg_customized_text",
            "label": "BMG Customized Paragraph"
        }
    ], 
    "blocks": [
        {
            "name": "BMG Customized Categories",
            "type": "bmg_customized_categories",
            "settings": [
                {
                    "type": "text",
                    "id": "customized_text",
                    "label": "BMG Customized Text"
                },
                {
                    "type": "image_picker",
                    "id": "customized_image",
                    "label": "BMG Customized Image"
                },
                {
                    "type": "url",
                    "id": "customized_url",
                    "label": "Customized URL"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "BMG Customized",
        "category": "2021 - BMG"
      } 
    ]
  }
{% endschema %}