{% paginate collection.products by 120 %}
<div class="bmg_main_collection">
  <div class="container">
    <div class="bmgmc_breadcrumbs">
      <div class="row">
        <div class="col-md-12">
          {% include 'breadcrumb' %}
        </div>
      </div>  
    </div>
    <div class="bmgmc_main_body">
      <div class="row">
        <div class="col-md-3">
          {% include 'collection-tags' %}
        </div>
        <div class="col-md-9">
            <div class="bmgmc_mc_list">
              <ul>
                {% assign navdata = collection.metafields['Navigation'] %}
                {% assign nav_parent = navdata.parent %}
                {% if nav_parent != '' %}
                  
                  {% for link in linklists.main-menu.links[1].links%}
                    {% if link.handle == nav_parent %}
                        <div class="columntitle">{{link.title}}</div>
                        <hr/>
                        {% for sub_link in link.links %}
                          <label class="lblfilter {%if sub_link.url contains collection.handle%}active{%endif%}" trgt="{{ sub_link.url }}" >
                                {{sub_link.title}}
                            </label>
                        {% endfor %}
                    {% endif %}
                  {% endfor%}
                {% endif %}
                {% assign filters = navdata.sidebar | split: ',' %}
  
                {% for filter in filters %}
                    <p class="space50" />
                    
                    <div class="columntitle">{{ filter | capitalize }}</div>
                    <hr/>
                    {% for tag in tags %}
                      {% assign tagmatch = filter | append: '-' %}
                      {% if tag contains tagmatch%}
                        
                        {% if strparams == ''%}
                          {% assign new_url = collection.url | append: '/' | append: tag %}
                        {% elsif strparams contains tag %}
                          {% assign params = strparams | remove: '/' | remove: tag | split: '+'%}
                          {% assign newstrparams = params | reverse | join: '+' %}
                          {% assign new_url = collection.url | append: '/' | append: newstrparams %}
                        {% else %}
                          {% assign newstrparams = strparams | append: '+' | append: tag %}
                          {% assign new_url = collection.url | append: newstrparams %}
                        {% endif %}

                        <div>
                              <label class="lblfilter" trgt="{{new_url}}">
                                <input type="checkbox" name="{{filter}}" value="{{tag}}" class="chkfilter" {% if strparams contains tag%}checked{%endif%}/>
                                {% if filter contains 'calories' %}
                                  {{ tag | replace: tagmatch,'' | replace: '0',' ' | lstrip | replace: ' ','0' }}
                                {% elsif tag contains 'Mylar' %}
                                  {{ tag | replace: tagmatch,'' | replace: '-',' ' | replace: '_','.'}}
                                {% else %}
                                  {{ tag | replace: tagmatch,'' }}
                                {% endif %}
                                {% if strparams contains tag%}<i class="fa fa-times-circle"></i>{%endif%}
                            </label>
                        </div>
                      {% endif %}
                    {% endfor %}
                {% endfor %}
              </ul>
            </div>
            <div class="columntitle">
              {% include 'collection-sorting' %}
            </div>
            <div class="grid-uniform grid-link__container">
              {% assign grid_item_width = 'wide--one-third medium--one-half small--one-half' %}
              {%- assign product_width = 335 -%}
              {% if collection.products  != empty %}
                {% for product in collection.products %}
                  {% assign featured = product %}
                  <div class="grid__item {{grid_item_width}}">
                    {% include 'product-grid-item' %}
                  </div>
                {% endfor %}
              {% else %}
                {% if shop.products_count == 0 %}
                  <div class="grid__item">
                    <div class="helper-section">
                      <div class="grid-uniform helper-content{% if section.settings.center_grid_link %} text-center{% endif %}">
                        {% for i in (1..8) %}
                          <div class="grid__item one-half post-large--one-quarter">
                            <a href="/admin/products" class="grid-link">
                              <span class="grid-link__image grid-link__image--product">
                                <span class="grid-link__image-centered">
                                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                </span>
                              </span>
                              <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                              <p class="grid-link__meta">
                                <strong>$19.99</strong>
                              </p>
                            </a>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                {% else %}
                  <div class="grid__item">
                    <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
                  </div>
                {% endif %}
              {% endif %}
            </div>
            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endpaginate %}
