<script src="https://unpkg.com/vue@next"></script>

{% paginate collection.products by 120 %}

<div class="grid containerswap">
   
  {% if customlayout == 'sidebar' %}
  <div class="grid__item three-twelfths medium--one-whole small--one-whole sidebar swap1">
  <div id="bc-sf-filter-tree"></div>             
  </div>

  
  <div class="grid__item nine-twelfths medium--one-whole small--one-whole nopadding swap2">
    <div class="sortingbar">
      <div class="form-horizontal grid__item one-whole medium--one-half small--one-half nopadding">
          <!--bs filter code-->
          <div id="bc-sf-filter-tree-mobile"></div>         
      </div>

      <div class="form-horizontal grid__item one-whole medium--one-half small--one-half nopadding">
        <!--bs filter code-->        
        <div id="bc-sf-filter-top-sorting"></div>       
      </div>
      <div class="clearfix"></div> 
    </div>
      
  </div>  
  
  {% else %} 

  <div class="grid__item one-whole nopadding">
    <div class="sortingbar">
      <div class="form-horizontal grid__item one-half nopadding">
      </div>
      <div class="form-horizontal grid__item one-whole medium--one-half small--one-half nopadding">
      {% include 'collection-sorting' %}
      </div> 
       <div class="clearfix"></div> 

    </div>    
  </div>    
  
  {% endif %} 
  
  <div class="grid__item {% if customlayout == 'sidebar' %}nine-twelfths{% else %} one-whole{% endif %} medium--one-whole small--one-whole nopadding swap3">
  <!--bs filter code-->      
    <div id="bc-sf-filter-products" class="grid-uniform grid-link__container">
  {% if customlayout == 'sidebar' %}
        {% assign grid_item_width = 'wide--one-third medium--one-half small--one-half' %}
      {% else %} 
        {% assign grid_item_width = 'wide--one-quarter medium--one-half small--one-half' %}        
      {% endif %}        
      {%- assign product_width = 335 -%}
      {% if collection.products  != empty %}
        {% for product in collection.products %}
        {% unless product.tags contains 'hideproduct' %}
          {% assign featured = product %}
            <div class="grid__item {{grid_item_width}}">
              {% include 'product-grid-item' %}
            </div>
        {%endunless%}
        {% endfor %}
      {% else %}
        <div class="grid__item">
            <p class="nomatch"><em>{{ 'collections.general.no_matches' | t }}</em></p>
          </div>
      {% endif %}
    </div>
    
    {% if customlayout == 'sidebar' %}
    <!--bs filter code-->
    <div id="bc-sf-filter-bottom-pagination"></div>
  {% else %}	
    
      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    {% endif %}
    
  </div>
</div>

{% endpaginate %}

<script>
  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {
    shop: {
      apiUrl: 'https://services.mybcapps.com/bc-sf-filter/filter',
      name: '{{ shop.name }}',
      domain: '{{ shop.permanent_domain }}',
      currency: '{{ shop.currency }}',
      money_format: '{{ shop.money_format }}'
    },
    general: {
      file_url: "{{ '' | file_url }}",
      collection_id: {{ collection.id | default: 0 }},
      collection_handle: "{{ collection.handle }}",
      default_sort_by: "{{ collection.default_sort_by }}",
      swatch_extension: "png",
      no_image_url: "{{ 'bc-sf-filter-no-image.gif' | asset_url }}"
    },
    label: {
      sale: "{{ 'products.product.sale' | t }}",
      sold_out: "{{ 'products.product.sold_out' | t }}",
      regular_price: "{{ 'products.product.regular_price' | t }}",
      sale_price: "{{ 'products.product.sale_price' | t }}",
      from_price: "{{ 'products.general.from_html' | t }}",
      homepage_product_title: "{{ 'home_page.onboarding.product_title' | t }}",
      sorting: "{{ 'collections.sorting.title' | t }}",
      sorting_featured: "{{ 'collections.sorting.featured' | t }}",
      sorting_title_ascending: "{{ 'collections.sorting.az' | t }}",
      sorting_title_descending: "{{ 'collections.sorting.za' | t }}",
      sorting_price_ascending: "{{ 'collections.sorting.price_ascending' | t }}",
      sorting_price_descending: "{{ 'collections.sorting.price_descending' | t }}",
      sorting_date_ascending: "{{ 'collections.sorting.date_ascending' | t }}",
      sorting_date_descending: "{{ 'collections.sorting.date_descending' | t }}",
    },
    cart: {
      pagination: "{{ cart.attributes.pagination }}"
    },
    section: {
      center_grid_link: {% if section.settings.center_grid_link != nil %} {{ section.settings.center_grid_link | json }} {% else %} false {% endif %},
      show_sale_circle: true,
      show_sold_out_circle: true,
      vendor_enable: {% if section.settings.vendor_enable != nil %} {{ section.settings.vendor_enable }} {% else %} false {% endif %},
      show_review: 1
    }
  };
</script>

{{'bc-sf-filter-lib.js' | asset_url | script_tag}}
{{'bc-sf-filter.js' | asset_url | script_tag}}
