{% paginate collection.products by 120 %}
<div class="bmg_main_collection">
  <div class="bmgmc_breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% include 'breadcrumb' %}
        </div>
      </div>  
    </div>
  </div>
  <div class="bmgmc_main_body">
    <div class="container">
      <div class="row">
        <div class="col-md-3 bmg_sidebar_filter">
          {% include 'collection-tags' %}
        </div>
        <div class="col-md-9 bmg_mainbody">
            <div class="bmgmc_mc_list">
              <ul>
                {% assign navdata = collection.metafields['Navigation'] %}
                {% assign nav_parent = navdata.parent %}
                {% if nav_parent != '' %}
                  {% for link in linklists.main-menu.links[1].links%}
                    {% if link.handle == nav_parent %}
                        {% for sub_link in link.links %}
                          <li>
                            <label class="lblfilter {%if sub_link.url contains collection.handle%}active{%endif%}" trgt="{{ sub_link.url }}" >
                                {{sub_link.title}}
                            </label>
                          </li>
                        {% endfor %}
                    {% endif %}
                  {% endfor%}
                {% endif %}
              </ul>
            </div>
            <div class="bmgmc_sorting_view">
              {% include 'collection-sorting' %}
              <div class="bmgmc_grid_list">
                <div id="listView">

                </div>
                <div id="gridView">

                </div>
              </div>
            </div>
            <div class="grid-uniform grid-link__container">
              {% assign grid_item_width = 'wide--one-third medium--one-half small--one-half' %}
              {%- assign product_width = 335 -%}
              {% if collection.products  != empty %}
                {% for product in collection.products %}
                  {% assign featured = product %}
                  <div class="grid__item {{grid_item_width}}">
                    {% include 'product-grid-item' %}
                  </div>
                {% endfor %}
              {% else %}
                {% if shop.products_count == 0 %}
                  <div class="grid__item">
                    <div class="helper-section">
                      <div class="grid-uniform helper-content{% if section.settings.center_grid_link %} text-center{% endif %}">
                        {% for i in (1..8) %}
                          <div class="grid__item one-half post-large--one-quarter">
                            <a href="/admin/products" class="grid-link">
                              <span class="grid-link__image grid-link__image--product">
                                <span class="grid-link__image-centered">
                                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                </span>
                              </span>
                              <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                              <p class="grid-link__meta">
                                <strong>$19.99</strong>
                              </p>
                            </a>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                {% else %}
                  <div class="grid__item">
                    <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
                  </div>
                {% endif %}
              {% endif %}
            </div>
            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endpaginate %}
