
{{'bc-sf-filter.js' | asset_url | script_tag}}
<script src="https://unpkg.com/vue@next"></script>

{% paginate collection.products by 120 %}

<div class="bmg_main_collection">
  <div class="bmgmc_breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% include 'breadcrumb' %}
        </div>
      </div>  
    </div>
  </div>
  <div class="bmgmc_main_body">
    <div class="container">
      <div class="row">
        <div class="col-md-3 bmg_sidebar_filter">
          <div class="bmg_sidebar_filter_body">
            {% include 'collection-tags' %}
          </div>
        </div>
        <div class="col-md-9 bmg_mainbody">
            <div class="bmgmc_sorting_view">
              {% include 'collection-sorting' %}
              <div class="bmgmc_grid_list">
                <div id="listView">

                </div>
                <div id="gridView">

                </div>
              </div>
            </div>
            <div class="bmg_collection_products">
              <div id="ajaxCollection">
                {% include 'collection-tags' %}
                  <template v-if="collection">
                      <h1 v-html="collection.title"></h1>
                      <div v-for="product in collection.products">
                          <h3 v-html="product.title"></h3>
                          <p v-html="product.description"></p>
                          <p v-html="product.price"></p>
                      </div>
                  </template>
              </div>
              
              <script>

                Vue.createApp({
                  name: "Collection App",
                  data() {
                    return {
                      collection: null
                    }
                  },
                  methods: {
                    grabCollection() {
                      fetch('https://www.bmgind.com/collections/{{ collection.handle }}?view=json')
                      .then(response => response.json())
                      .then(data => this.collection = data);
                    },
                    updateProducts(event) {
                      var dataAttribute = event.target.getAttribute('data-url');
                      console.log(dataAttribute);
                      fetch('https://www.bmgind.com/collections/{{ collection.handle }}/' + dataAttribute + '?view=json')
                      .then(response => response.json())
                      .then(data => this.collection = data);
                      this.$forceUpdate();
                    }
                  },
                  mounted() {
                    this.grabCollection();
                  }
                }).mount('#ajaxCollection');

              </script>
            </div>
            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid containerswap">
   
  {% if customlayout == 'sidebar' %}
  <div class="grid__item three-twelfths medium--one-whole small--one-whole sidebar swap1">
  <div id="bc-sf-filter-tree"></div>             
  </div>

  
  <div class="grid__item nine-twelfths medium--one-whole small--one-whole nopadding swap2">
    <div class="sortingbar">
      <div class="form-horizontal grid__item one-whole medium--one-half small--one-half nopadding">
          <!--bs filter code-->
          <div id="bc-sf-filter-tree-mobile"></div>         
      </div>

      <div class="form-horizontal grid__item one-whole medium--one-half small--one-half nopadding">
        <!--bs filter code-->        
        <div id="bc-sf-filter-top-sorting"></div>       
      </div>
      <div class="clearfix"></div> 
    </div>
      
  </div>  
  
  {% else %} 

  <div class="grid__item one-whole nopadding">
    <div class="sortingbar">
      <div class="form-horizontal grid__item one-half nopadding">
      </div>
      <div class="form-horizontal grid__item one-whole medium--one-half small--one-half nopadding">
      {% include 'collection-sorting' %}
      </div> 
       <div class="clearfix"></div> 

    </div>    
  </div>    
  
  {% endif %} 
  
  <div class="grid__item {% if customlayout == 'sidebar' %}nine-twelfths{% else %} one-whole{% endif %} medium--one-whole small--one-whole nopadding swap3">
  <!--bs filter code-->      
    <div id="bc-sf-filter-products" class="grid-uniform grid-link__container">
  {% if customlayout == 'sidebar' %}
        {% assign grid_item_width = 'wide--one-third medium--one-half small--one-half' %}
      {% else %} 
        {% assign grid_item_width = 'wide--one-quarter medium--one-half small--one-half' %}        
      {% endif %}        
      {%- assign product_width = 335 -%}
      {% if collection.products  != empty %}
        {% for product in collection.products %}
        {% unless product.tags contains 'hideproduct' %}
          {% assign featured = product %}
            <div class="grid__item {{grid_item_width}}">
              {% include 'product-grid-item' %}
            </div>
        {%endunless%}
        {% endfor %}
      {% else %}
        <div class="grid__item">
            <p class="nomatch"><em>{{ 'collections.general.no_matches' | t }}</em></p>
          </div>
      {% endif %}
    </div>
    
    {% if customlayout == 'sidebar' %}
    <!--bs filter code-->
    <div id="bc-sf-filter-bottom-pagination"></div>
  {% else %}	
    
      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    {% endif %}
    
  </div>
</div>

{% endpaginate %}
