{% paginate collection.products by 120 %}
<div class="centercontent bmgcoll" id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template" data-sort-enabled="true" data-tags-enabled="true">
 
  {%assign coll_image = collection.image.src | img_url: '1400x300'%}
  
  <div class="section-header section-header--breadcrumb collcrumb">
    {% include 'breadcrumb' %}
  </div>
  <p class="space20" />

  <div class=" grid">
    <div class="grid__item three-twelfths  nopadding medium--hide small--hide">
      
      {% include 'collection-tags' %}
    </div>
    
    <div class="grid__item nine-twelfths medium--one-whole small--one-whole nopadding rightalign">
      <div class="columntitle">
        {% include 'collection-sorting' %}
      </div>
      <p class="space20"></p>

      <div class="grid-uniform grid-link__container">
        {% assign grid_item_width = 'wide--one-third medium--one-half small--one-half' %}
        {%- assign product_width = 335 -%}
        {% if collection.products  != empty %}
          {% for product in collection.products %}
            {% assign featured = product %}
            <div class="grid__item {{grid_item_width}}">
              {% include 'product-grid-item' %}
            </div>
          {% endfor %}
        {% else %}
          {% if shop.products_count == 0 %}
            <div class="grid__item">
              <div class="helper-section">
                <div class="grid-uniform helper-content{% if section.settings.center_grid_link %} text-center{% endif %}">
                  {% for i in (1..8) %}
                    <div class="grid__item one-half post-large--one-quarter">
                      <a href="/admin/products" class="grid-link">
                        <span class="grid-link__image grid-link__image--product">
                          <span class="grid-link__image-centered">
                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                          </span>
                        </span>
                        <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                        <p class="grid-link__meta">
                          <strong>$19.99</strong>
                        </p>
                      </a>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% else %}
            <div class="grid__item">
              <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
            </div>
          {% endif %}
        {% endif %}
      </div>
      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    </div>
  </div>
  
</div>
{% endpaginate %}
